@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
input,
select,
button,
a:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 430px;
}
@media (max-width: 430px) {
  .wrapper {
    width: 100%;
  }
}
