.btnTheme {
	margin-top: 10px;
	width: 100%;
	font-size: 30px;
	border-radius: 5px;
	text-align: center;
	background-color: transparent;
	cursor: pointer;
}
.btnTheme.light {
	border: 2px solid #17171787;
	color: #17171787;
}
.btnTheme.dark {
	border: 2px solid #dfe0e4b5;
	color: #dfe0e4b5;
}
