.btnTheme {
  margin-top: 20px;
  width: 100%;
  font-size: 30px;
  border-radius: 5px;
  text-align: center;
}
.btnTheme.light {
  border: 2px solid #171717;
  color: #171717;
  background-color: #dfe0e4;
}
.btnTheme.dark {
  border: 2px solid #dfe0e4;
  color: #e0e2e5;
  background-color: #171717;
}
