.copyWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
}
.copyWrapper.light {
  background-color: #ffffff;
  color: #171717;
}
.copyWrapper.dark {
  background-color: #171717;
  color: #dfe0e4;
}
.btnCopy {
  width: 100%;
  font-size: 30px;
  border-radius: 5px;
  text-align: center;
}

.btnCopy.light {
  border: 2px solid #171717;
  color: #171717;
  background-color: #dfe0e4;
}

.btnCopy.dark {
  border: 2px solid #dfe0e4;
  color: #e0e2e5;
  background-color: #171717;
}
.btnCopy.light:active {
  background-color: white;
}
.btnCopy.dark:active {
  background-color: #363636;
}
.text {
  width: 100%;
  font-size: 24px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
}
.text.light {
  border: 2px solid #171717;
  color: #171717;
  background-color: #dfe0e4;
}
.text.dark {
  border: 2px solid #dfe0e4;
  color: #e0e2e5;
  background-color: #171717;
}
