.copyWrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	border-radius: 10px;
}

.btnCopy {
	width: 100%;
	font-size: 30px;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	background-color: transparent;
}

.btnCopy.light {
	border: 2px solid #17171787;
	color: #17171787;
}

.btnCopy.dark {
	border: 2px solid #dfe0e4b5;
	color: #dfe0e4b5;
}
.btnCopy.light:active {
	background-color: #e1e1e1;
}
.btnCopy.dark:active {
	background-color: #363636;
}
.text {
	width: 100%;
	font-size: 24px;
	padding: 5px;
	border-radius: 5px;
	text-align: center;
	line-height: 30px;
	background-color: transparent;
}
.text.light {
	border: 2px solid #17171787;
	color: #17171787;
}
.text.dark {
	border: 2px solid #dfe0e4b5;
	color: #dfe0e4b5;
}
