.wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
}
.wrapper.light {
	background-image: url('https://img.freepik.com/free-photo/white-brush-stroke-texture-background_53876-132779.jpg?t=st=1726413266~exp=1726416866~hmac=5a29568d812e6c7c056351aec8df154847f02265f0de8ebf71638e2c6f152b28&w=1800');
}
.wrapper.dark {
	background-image: url('https://img.freepik.com/free-photo/black-wall-paint-textured-background_53876-133013.jpg?t=st=1726413131~exp=1726416731~hmac=ee4433d044c7ea4543e02437af96064848e39f08f51c8bd6b5fc1a83553072be&w=1800');
}
.container {
	margin-top: 10px;
	padding: 20px;
	width: 370px;
	height: 700px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	border-radius: 10px;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	overflow: hidden;
}
.container.light {
	color: #17171787;
	border: 10px solid #17171787;
}
.container.dark {
	color: #dfe0e4b5;
	border: 10px solid #dfe0e4b5;
}
@media (max-width: 500px) {
	.wrapper {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
	}
	.wrapper.light {
		background-image: none;
	}
	.wrapper.dark {
		background-image: none;
	}
	.container {
		height: 100%;
	}
}
