@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Nanum+Gothic:wght@400;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
input,
select,
button,
a:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.container.light {
  background-color: white;
  color: black;
}
.container.dark {
  background-color: black;
  color: white;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 44px;
}
.result {
  font-size: 64px;
}
.inputWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
