.inputWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 5px;
}
input {
  border-radius: 5px;
  width: 70%;
  padding-left: 5px;
  font-size: 24px;
}
select {
  width: 30%;
  border: 2px solid #171717;
  border-radius: 5px;
  font-size: 20px;
}
.dark {
  background-color: #171717;
  border: 2px solid #dfe0e4;
  color: #dfe0e4;
}
.light {
  background-color: #dfe0e4;
  border: 2px solid #171717;
  color: #171717;
}
