.inputWrapper {
	display: flex;
	justify-content: center;
	width: 100%;
	gap: 5px;
}
input {
	border-radius: 5px;
	width: 70%;
	padding-left: 5px;
	font-size: 24px;
	background-color: transparent;
}
select {
	width: 30%;
	border: 2px solid #17171787;
	border-radius: 5px;
	font-size: 20px;
	background-color: transparent;
	cursor: pointer;
}
.dark {
	border: 2px solid #dfe0e4b5;
	color: #dfe0e4b5;
}
.light {
	border: 2px solid #17171787;
	color: #17171787;
}
